.container {
  padding: 0px;
  padding-top: 20px;
}

.main {
  min-height: calc(100vh - 68px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-wrapper,
.second-section,
.third-section{
  padding: 0 16px;
  display: flex;
  min-height: calc(100vh - 68px);
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.second-section{
  background-color: #E2E7EB;
  padding: 40px 0;
}

.third-section{
  background-color: #FFF;
  padding: 40px;
  justify-content: flex-start;
}

.newCard{
  padding:0 13px;
  margin-top: 100px;
  padding-bottom: 0px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}

.new-title{
  padding: 23px;
}

.foot{
  padding-left: 49px;
  padding-right: 49px;
  background: linear-gradient(0deg, #FFC816 0%, #FFD25A 23%, #FFDB7B 31%, #FFE093 39%, #FFE4A1 46%, #FFE5A6 52%, rgba(255, 229, 167, 0.91) 54%, rgba(255, 230, 171, 0.64) 62%, rgba(255, 231, 174, 0.41) 70%, rgba(255, 231, 176, 0.23) 77%, rgba(255, 232, 178, 0.11) 84%, rgba(255, 232, 179, 0.03) 89%, rgba(255, 232, 179, 0) 93%);;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
